.book-overview-container {
  display: flex;
  gap: 10px;
  margin: 100px 30px;
}

.book-overview {
  display: flex;
  background-color: #efefef;
  max-width: 75%;
  min-width: 75%;
  padding: 10px;
  gap: 20px;
  min-height: 400px;
}

.book-overview-image-container {
  min-width: 40%;
  max-width: 40%;
  margin: 10px 0;
  object-fit: contain;
  border-radius: 6px;
}

.book-overview-image img {
  width: 100%;
  height: auto;
  max-height: 550px;
}

.book-overview-info-published-date-name {
  display: flex;
  align-items: center;
  gap: 15px;
}

.book-overview-info-published-date-name h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

.book-overview-info-published-date-name p {
  color: #706f74;
  font-size: 1rem;
}

.book-overview-info-authors {
  margin-top: -15px;
}

.book-overview-info-authors h1 {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.book-overview-info-availability {
  display: flex;
  align-items: center;
  gap: 3px;
}

.book-overview-info-availability img {
  width: 25px;
  height: 25px;
}

.green {
  color: #43b447;
}

.red {
  color: #d50000;
}

.book-overview-info-availability p {
  margin: 0;
}

.book-overview-bookmark-save-author-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.book-overview-bookmark-save-author-buttons button {
  width: 250px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  text-align: center;
}

.book-overview-info-description {
  font-size: 18px;
}

.book-overview-info-author-learn-more {
  display: flex;
  gap: 10px;
}

.book-overview-info {
  width: 100%;
}

.book-sample-info-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
.sample-button {
  flex: 1 1 0;
  align-items: center !important;
  background-color: transparent !important;
  color: #000 !important;
  border: 1px solid #625f5f !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  font-size: large !important;
  cursor: pointer !important;
  text-transform: none !important;
  width: fit-content !important;
}

.book-overview-checkout {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.book-overview-checkout h1 {
  font-weight: 500;
}

.book-overview-checkout-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.book-overview-checkout-buttons button {
  background-color: transparent;
  color: #000;
  border: 1px solid #625f5f;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: large;
  cursor: pointer;
}

.book-overview-checkout-buttons .selected {
  border: 1px solid #140dc3;
  background-color: #130dc339;
}

.book-overview-checkout-buttons .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.book-overview-checkout-pickup-location {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 1rem;
}

.book-overview-checkout-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  width: 100%;
}

.book-overview-checkout-quantity select {
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  background-color: #cdcdcd;
}

.book-overview-checkout-cart-book-now-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 50px 0;
}

.book-overview-checkout-cart-book-now-buttons button {
  width: 250px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  text-align: center;
  text-transform: none;
}
