.navbar {
  background-color: #16273e;
  padding: 0 1rem;
  height: fit-content;
  z-index: 1000;
  gap: 1.5;
  position: fixed;
  top: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconGroup svg {
  font-size: 28px;
  color: white;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  height: fit-content;
  padding-top: 4px;
  padding-bottom: 4px;
}

.brandIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
}

.brandText {
  margin-left: 0;
  font-size: 0.65rem;
}
