a {
  text-decoration: none;
}

.login-signup-modal-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9998;
}

.login-signup-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 70px;
}
.content {
  width: 500px;
  height: 100%;
}

#seperator {
  overflow: hidden;
  text-align: center;
}

#seperator::before,
#seperator::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#seperator::before {
  right: 0.5em;
  margin-left: -50%;
}

#seperator::after {
  left: 0.5em;
  margin-right: -50%;
}
