.cart-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #219EBC;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  transition: background-color 0.3s ease;
}

.cart-toggle:hover {
  background-color: #0b6b71;
}

/* Main Add to Cart Button */
.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #112D42;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-to-cart-button:hover {
  background-color: #2C8573;
}

/* When disabled (unavailable books) */
.add-to-cart-button:disabled {
  background-color: #b0b0b0;
  color: #000000;
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
  transition: none;
}

.add-to-cart-button:disabled:hover {
  background-color: #b0b0b0;
  color: #111010;
}

/* When item is already added */
.added-toggle {
  opacity: 0.9;
  background-color: #102838;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.added-toggle .add-to-cart-button {
  background-color: #0b6b71;
  color: #e0fdfc;
  cursor: default;
}

.added-toggle .add-to-cart-button:hover {
  background-color: #0b6b71;
  color: #e0fdfc;
}

.add-to-cart-button.added {
  background-color: #4caf50;
  color: white;
  cursor: default;
}
